<div class="blog1">
  <div class="card">
    <div class="category"> Illustration </div>
    <div class="heading"> A heading that must span over two lines
      
        <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
    </div>
    <button>
      Read More
      <div class="arrow-wrapper">
          <div class="arrow"></div>
  
      </div>
    </button>

  </div>
</div>